# Vieux liens avant que j'utilise /articles
RedirectMatch 301 (.*)/1989/(.*) $1/articles/$2
RedirectMatch 301 (.*)/1990/(.*) $1/articles/$2
RedirectMatch 301 (.*)/1991/(.*) $1/articles/$2
RedirectMatch 301 (.*)/1992/(.*) $1/articles/$2
RedirectMatch 301 (.*)/1993/(.*) $1/articles/$2
RedirectMatch 301 (.*)/1995/(.*) $1/articles/$2
RedirectMatch 301 (.*)/1998/(.*) $1/articles/$2
RedirectMatch 301 (.*)/1999/(.*) $1/articles/$2
RedirectMatch 301 (.*)/2000/(.*) $1/articles/$2
RedirectMatch 301 (.*)/2001/(.*) $1/articles/$2

# J'ai changé le nom du fichier timeline pour timelines
RedirectMatch 301 (.*)/timeline/(.*) $1/timelines/$2

RewriteEngine On
# redirige un URL qui se termine par / vers un URL qui ne le contient pas
RewriteRule ^(.+)/$  /$1 [R=301,L,NE]

# Redirige .html vers aucune extension
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.+?)\.html[\s?] [NC]
RewriteRule ^ /%1 [R=301,L,NE]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule (.*) $1.html [L]

<ifModule headers_module>
    <FilesMatch ".(ico|pdf|jpg|jpeg|png|gif|mp4|mp3|svg)$">
      Header set Cache-Control "max-age=36000, public"
    </FilesMatch>
    <FilesMatch ".(css|webmanifest|html)$">
      Header set Cache-Control "max-age=3600, public"
    </FilesMatch>
</ifModule>