:root {
	--light-beige: #e9e9e9;
	--lime-green: #94ba65;
	--sharp-blue: #2790b0;
	--dark-grey: #4e4d4a;
	--light-grey: #c1c1c1;
	--usa-can-white: #fff;
	--jpn-red: #bc002d;
	--eur-blue: #039;
	--rounded-corners: 0.25em;
}
label div {
	margin: auto;
}
#timeline h2 {
	position: sticky;
	top: 0;
	font-family: "GB";
	font-size: 1.05rem;
	margin-bottom: 1rem;
	background: var(--light-beige);
	width: 4.2rem;
	display: flex;
	justify-content: flex-end;
	white-space: nowrap;
	z-index: 1;
	padding-top: 0;
	border-bottom: .12rem solid;
}
#timeline h3 {
	position: sticky;
	top: 1.6rem;
	font-size: 0.75rem;
	width: 4.2rem;
	display: flex;
	justify-content: flex-end;
	white-space: nowrap;
	z-index: 0;
}
.month-separator {

}
section.month {
	margin-left: 4.2rem;
	margin-bottom: .75rem;
}
.release_list {
	display: block;
}
figure.timeline {
	display: inline-block;
	vertical-align: top;
	margin: 0.2em;
	max-width: 110px;
}
figure.timeline img,
figure.timeline figcaption {
	width: 100px;
	max-width: 100%;
	height: 100%;
}
figure.timeline p {
	font-size: 0.85rem;
}
/*
#timeline a.ref {
	padding: 0 .3rem;
}
#timeline img.labels {
	max-height: 1.5rem;
	width: 2rem;
} 
#timeline p {
	border-left: .2rem solid;
	padding-left: 1rem;
} 
*/
#timeline p.jp {
	border-color: var(--jpn-red);
}
#timeline p.na {
	border-color: var(--usa-can-white);
}
#timeline p.eu {
	border-color: var(--eur-blue);
}
input#all:checked ~ #timeline-jp, 
input#all:checked ~ #timeline-na, 
input#all:checked ~ #timeline-eu {
	display: none;
}
input#na:checked ~ #timeline-all, 
input#na:checked ~ #timeline-jp, 
input#na:checked ~ #timeline-eu {
	display: none;
}
input#jp:checked ~ #timeline-all, 
input#jp:checked ~ #timeline-na, 
input#jp:checked ~ #timeline-eu {
	display: none;
}
input#eu:checked ~ #timeline-all, 
input#eu:checked ~ #timeline-jp, 
input#eu:checked ~ #timeline-na {
	display: none;
}
input#all:checked ~ #timeline-all,
input#jp:checked ~ #timeline-jp, 
input#na:checked ~ #timeline-na, 
input#eu:checked ~ #timeline-eu {
	display: block;
}
input#all:checked ~ #alllabel,
input#jp:checked ~ #jplabel,
input#na:checked ~ #nalabel, 
input#eu:checked ~ #eulabel {
	background: var(--sharp-blue);
	color: black;
}