<div class="book-container">
<div class="book">
	<h3>Volume 1</h3>
	<div class="volume">
		<div class="book-cover">
			<img src="/assets/book/volume-01-cover.jpg" alt="Volume I Cover">
		</div>
		<div class="markets">
			<a class="book-link" href="https://www.lulu.com/shop/pierre-luc-gagné/game-boy-essentials-volume-1/paperback/product-jpemqw.html?q=game+boy+essentials&page=1&pageSize=4">Buy on the Lulu bookstore</a>
		</div>
	</div>
</div>
<div class="book">
	<h3>Volume 2</h3>
	<div class="volume">
		<div class="book-cover">
			<img src="/assets/book/volume-02-cover.jpg" alt="Volume II Cover">
		</div>
		<div class="markets">
			<a class="book-link" href="https://www.lulu.com/shop/pierre-luc-gagné/game-boy-essentials-volume-2/paperback/product-qp6qw8.html?q=game+boy+essentials&page=1&pageSize=4">Buy on the Lulu bookstore</a>
		</div>
	</div>
</div>
<div class="book">
	<h3>Volume 3</h3>
	<div class="volume">
		<div class="book-cover">
			<img src="/assets/book/volume-03-cover.jpg" alt="Volume II Cover">
		</div>
		<div class="markets">
			<a class="book-link" href="https://www.lulu.com/shop/pierre-luc-gagné/game-boy-essentials-volume-3/paperback/product-rpm2ek.html?q=game+boy+essentials&page=1&pageSize=4">Buy on the Lulu bookstore</a>
		</div>
	</div>
</div>
</div> 