<div class="book-container">
<div class="book">
	<h3>Volume I</h3>
	<div class="volume">
		<div class="book-cover">
			<img src="/assets/book/book-1-b&w.jpg" alt="Volume I Cover">
		</div>
		<div class="markets">
			<a class="book-link" href="https://www.amazon.com/gp/product/099590152X">United States</a>
			<a class="book-link" href="https://www.amazon.ca/gp/product/099590152X">Canada</a>
			<a class="book-link" href="https://www.amazon.co.uk/gp/product/099590152X">United Kingdom</a>
			<a class="book-link" href="https://www.amazon.fr/gp/product/099590152X">France</a>
			<a class="book-link" href="https://www.amazon.de/gp/product/099590152X">Deutschland</a>
			<a class="book-link" href="https://www.amazon.es/gp/product/099590152X">España</a>
		</div>
	</div>
</div>
<div class="book">
	<h3>Volume II</h3>
	<div class="volume">
		<div class="book-cover">
			<img src="/assets/book/book-2-b&w.jpg" alt="Volume II Cover">
		</div>
		<div class="markets">
			<a class="book-link" href="https://www.amazon.com/gp/product/0995901546">United States</a>
			<a class="book-link" href="https://www.amazon.ca/gp/product/0995901546">Canada</a>
			<a class="book-link" href="https://www.amazon.co.uk/gp/product/0995901546">United Kingdom</a>
			<a class="book-link" href="https://www.amazon.fr/gp/product/0995901546">France</a>
			<a class="book-link" href="https://www.amazon.de/gp/product/0995901546">Deutschland</a>
			<a class="book-link" href="https://www.amazon.es/gp/product/0995901546">España</a>
		</div>
	</div>
</div>
</div>