<!DOCTYPE html>
<html lang="en">
<head>
<!--HTML Essentials-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="{{ site.url }}">
	<link rel="canonical" href="{% if page.layout == 'main' %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}"/>
	<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/rss.xml" title="RSS feed for {{ site.title }}">
	<link rel="alternate" type="application/json" href="{{ site.url }}/feed.json" title="JSON Feed for {{ site.title }}">
	<link rel="stylesheet" href="/style.css">{% if page.slug == "timeline" %}
	<link rel="stylesheet" href="/timeline.css">{% else %}{% endif %}
	<title>{% if page.article %}{{ page.title }} — {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="icon" href="/favicon.png" sizes="16x16">
	<link rel="icon" href="{{ site.icon-512 }}" sizes="512x512">
<!--Apple-->
	<link rel="apple-touch-icon" href="{{ site.url }}{{ site.icon-512 }}">
	<link rel="mask-icon" href="{{ site.url }}/safari-pinned-tab.svg" color="black">
	<meta name="apple-mobile-web-app-title" content="GB Essentials">
<!--Google-->
	<meta name="description" content="{% if page.article %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="theme-color" content="#4e4d4a">
	<meta name="google-site-verification" content="GENumlLeYNjkfUJBOp8bozg0S18pPdvEjt5QKfyLW8E">
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "{{ site.title }}",
		"url": "{{ site.url }}",
		"logo": "{{ site.url }}{{ site.icon-512 }}"
	}
	</script>
<!--Twitter-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.twitter }}">
	<meta name="twitter:title" content="{% if page.article %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.article %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:image:src" content="{% if page.article %}{{ site.url }}/assets/{{ page.slug }}/{{ page.slug }}-start.png{% else %}{{ site.url }}{{ site.icon-512 }}{% endif %}">
<!--Facebook-->	
	<meta property="og:type" content="{% if page.article %}{{ 'article' }}{% else %}{{ 'website' }}{% endif %}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:url" content="{% if page.layout == 'main' %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}">
	<meta property="og:title" content="{% if page.article %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:description" content="{% if page.article %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:image" content="{% if page.article %}{{ site.url }}/assets/{{ page.slug }}/{{ page.slug }}-start.png{% else %}{{ site.url }}{{ site.icon-512 }}{% endif %}">
</head>