<div id="timeline">
  {% comment %} {%- assign releases_sorted = site.data.timeline | sort: "time" -%} {% endcomment %}
  {%- assign timeline_sorted = site.data.timeline-releases-only | sort: "release_date" -%}
  {% comment %} {% assign releases_sorted=releases_sorted | concat: timeline_sorted %} {% endcomment %}
  {%- assign variable_year = 0 -%}
  {%- assign variable_month = 0 -%}
  {% for release in timeline_sorted %}
    {%- unless release.unclear_year == true -%}
      {%- assign release_year = release.release_date | date: "%Y" -%}
      {% if release_year contains '2010' %}{% break %}{% else %}
        {%- assign release_month = release.release_date | date: "%B" -%}
        {%- if variable_year == 0 -%}
          <section class="year">
            <h2>{{ release.release_date | date: "%Y" }}</h2>
          {%- assign variable_year = release_year -%}
	        {%- endif -%}
	      {%- if variable_year != release_year -%}
		        </div>
          </section>
          </div>
		      </section>
		      <section class="year">
            <h2>{{ release_year }}</h2>
		      {%- assign variable_year = release_year -%}
		      {%- assign variable_month = 0 -%}
	      {%- endif -%}
        {%- if variable_month == 0 -%}
		      <div class="month-separator"><h3>{{ release.release_date | date: "%B" }}</h3>
          <section class="month">
		        <div class="release_list">
              {%- assign variable_month = release_month -%}
        {%- endif -%}
        {%- if variable_month != release_month -%}
		        </div>
          </section>
          </div>
          <div class="month-separator"><h3>{{ release.release_date | date: "%B" }}</h3>
          <section class="month">
            <div class="release_list">
            {%- assign variable_month = release_month -%}
        {%- endif -%}
        {%- capture image-location -%}
/assets/timeline-test{{ release.boxart }}
        {%- endcapture -%}
        <figure class="timeline">
        <img loading="lazy" src="{{ image-location }}" alt="{{ release.title }}">
        <figcaption><p>{{ release.title }}</p></figcaption>
        </figure>
      {% endif %}
    {% endunless %}
  {% endfor %}
            </div>
            </div>
          </section>
          </section>
</div>