<div id="timeline">
	<input type="radio" id="all" name="grouplist" checked="checked">
	<input type="radio" id="jp" name="grouplist">
	<input type="radio" id="na" name="grouplist">
	<input type="radio" id="eu" name="grouplist">
	<label id="alllabel" for="all">
		<div>
			<img alt="World" class="labels" src="/assets/timeline/world.svg"/>
			<span>World</span>
		</div>
	</label>
	<label id="jplabel" for="jp">
		<div>
			<img alt="Japan" class="labels" src="/assets/timeline/jpn.svg"/>
			<span>Japan</span>
		</div>
	</label>
	<label id="nalabel" for="na">
		<div>
			<img alt="United States of America" class="labels" src="/assets/timeline/usa.svg"/>
			<img alt="Canada" class="labels" src="/assets/timeline/can.svg"/>
		<span>North America</span>
		</div>
	</label>
	<label id="eulabel" for="eu">
		<div>
			<img alt="Europe" class="labels" src="/assets/timeline/eur.svg"/>
			<span>Europe</span>
		</div>
	</label>
{%- assign timeline-type = "all" -%}
{%- for timeline-step in (1..4) -%}
	<section id="timeline-{{ timeline-type }}">
	{%- assign variable_year = 0 -%}
	{%- assign variable_month = 0 -%}
	{%- if timeline-step == 1 -%}{%- assign timeline_sorted = site.data.timeline | sort: "time" -%}{%- endif -%}
	{%- if timeline-step == 2 -%}{%- assign timeline_sorted = site.data.timeline | where: "tags", "jp" | sort: "time" -%}{%- endif -%}
	{%- if timeline-step == 3 -%}{%- assign timeline_sorted = site.data.timeline | where: "tags", "na" | sort: "time" -%}{%- endif -%}
	{%- if timeline-step == 4 -%}{%- assign timeline_sorted = site.data.timeline | where: "tags", "eu" | sort: "time" -%}{%- endif -%}
	{%- for object in timeline_sorted -%}
		{%- assign object_year = object.time | date: "%Y" -%}
		{%- assign object_month = object.time | date: "%B" -%}
		{%- if variable_year == 0 -%}	<section class="year"><h2>{{ object.time | date: "%Y" }}</h2>
			{%- assign variable_year = object_year -%}
		{%- endif -%}
		{%- if variable_year != object_year -%}
			</section>
			</section>
			<section class="year"><h2>{{ object_year }}</h2>
			{%- assign variable_year = object_year -%}
			{%- assign variable_month = 0 -%}
		{%- endif -%}
		{%- if variable_month == 0 -%}
			<section class="month"><h3>{{ object.time | date: "%B" }}</h3>
			{%- assign variable_month = object_month -%}
		{%- endif -%}
		{%- if variable_month != object_month -%}
			</section>
			<section class="month"><h3>{{ object.time | date: "%B" }}</h3>
			{%- assign variable_month = object_month -%}
		{%- endif -%}
		<p class="{%- if object.tags contains "jp" -%}jp{%- endif -%}{%- if object.tags contains "na" -%}na{%- endif -%}{%- if object.tags contains "eu" -%}eu{%- endif -%}">
		{{- object.note | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines -}}
		<a class="ref" alt="Reference" href="{{ object.source }}">※</a>
		</p>
	{% endfor %}
	</section>
	</section>
	</section>
	{%- if timeline-step == 3 -%}{%- assign timeline-type = "eu" -%}{%- endif -%}
	{%- if timeline-step == 2 -%}{%- assign timeline-type = "na" -%}{%- endif -%}
	{%- if timeline-step == 1 -%}{%- assign timeline-type = "jp" -%}{%- endif -%}
{%- endfor -%}
</div>