/* General Classes */
html {
	height: 100%;
	min-width: 100%; 
	background: $light-beige;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Avenir Next", system-ui, Verdana, sans-serif;
	line-height: 1.5;
}
::selection {
	background: $lime-green;
	color: white;
	text-shadow: none; 
}

/* Main page lists */
#list {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
input[type="radio"] {
	display: none;
}
label {
	display: flex;
	margin: 0.2em auto;
	list-style: none;
	border: 2px solid $dark-grey;
	border-radius: $rounded-corners;
	width: 15rem;
	padding: 0.5em;
}
span {
	margin: auto;
}
label:hover,
label:focus,
label:active {
	cursor: pointer;
	color: $sharp-blue;
	transition: .2s ease-out;
}
input#pub:checked ~ #gamerelease,
input#rel:checked ~ #articlepub {
	display: none;
}
input#pub:checked ~ #articlepub,
input#rel:checked ~ #gamerelease {
	display: block;
}
input#pub:checked ~ #publabel,
input#rel:checked ~ #rellabel {
	background: $sharp-blue;
	color: black;
}
#articlepub, #gamerelease {
	margin-top: 1em;
}
h2 {
	font-weight: 100;
	clear: both;
}
div.year {
	font-size: 2em;
	font-weight: 100;
	clear: both;
	width: 100%;
	height: 2.6em;
	line-height: 2.7em;
	margin-bottom: 0.3em;
}

/* Articles */
#article {
	margin: 0 auto;
	padding: 0 0.2rem 0;
	max-width: 72ch;
}
h1, h2 {
	font-weight: 100;
	clear: both;
	padding-top: 0.3em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3,
caption {
	font-size: 1.1em;
	font-weight: bold;
}
p,
blockquote,
ul,
ol {
	margin-bottom: 1em;
	font-size: 1.05rem;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
blockquote {
	padding-left: 0.5em; 
	margin: 0 1em 1em 1em; 
	border-left: 2px solid black;
	quotes: none;
}
blockquote:before,
blockquote:after {
	content: '';
	content: none; 
}
code {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	word-break: break-all;
}
/* Media */
img {
	vertical-align: top;
}
.gb img,
.pixel img {
	image-rendering: pixelated;
	vertical-align: bottom;
}
.gallery-container {
	display: flex;
	clear: both;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}
.gallery-container div {
	margin-left: 0.15rem;
	margin-right: 0.15rem;
	max-width: 48%;
}
figure,
video,
audio,
object {
	display: grid;
	clear: both;
	background-color: $light-grey;
	text-align: center;
	border-radius: $rounded-corners;
	margin: 0 auto;
	padding: 0.2em;
}
figure:not(.float) {
	margin-top: 3em;
	margin-bottom: 3em;
}
figure.gallery {
	margin-top: 1em;
	margin-bottom: 1em;
}
video,
audio {
	margin-top: 5em;
	margin-bottom: 5em;
}
video {
	width: 160px;
}
figcaption {
	padding-top: 0.4em;
}
figcaption p {
	margin-bottom: 0;
}
.art, .pixel {
	max-width: 70%;
}
.pixel img,
.art img,
.boxart img {
	width: 100%;
	height: 100%;
}
.float {
	min-width: 100pt;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
@media only screen and (min-width: 640px) {
	.float {
	max-width: 35%;
	max-height: 35%;
	}
}
.left {
	float: left;
	margin-left: 0;
	margin-right: 0.4em;
}
.right {
	float: right;
	margin-right: 0;
	margin-left: 0.4em;
}
.gb {
	max-width: 320px;
}
.gb img {
	width: 320px;
	max-width: 100%;
	height: 100%;
}
object {
	width: 100%;
	height: 500px;
	margin-top: 1em;
	margin-bottom: 1em;
}
hr {
	border: 0;
	height: 2px;
	background-color: black;
	margin: 1.2em 0;
}
/* Lists */
ul,
ol { 
	padding: 0 0 0 2.5em;
	overflow: hidden;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li {
	margin-left: 1.2em;
}
/* Tables */
table {
	table-layout: fixed;
	width: 100%;
	margin: 0.5em 0;
	border-spacing: 0;
	border: 1px solid black;
}
th {
	background-color: $dark-grey;
	color: $light-beige;
}
th,
td {
	padding: 0.5em;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	width: 20%;
	word-break: normal;
}
tr:nth-child(even) {
	background-color: $light-grey;
}
#year1989, #year1990, #year1991, #year1992, #year1993, #year1994, #year1995, #year1996, #year1997 { 
	background: #8BB317;
	font-family: "gb";
}
#year1998 { 
	background: #3D3597;
	font-family: "gb";
}
#year1999 { 
	background: #A82332;
	font-family: "gb";
}
#year2000 { 
	background: #5DA61A;
	font-family: "gb";
}
#year2001 { 
	background: #D19E21;
	font-family: "gb";
}
#year2002 { 
	background: #338377;
	font-family: "gb";
}
/* Article navigation */
#navigation {
	margin-bottom: 1em;
}
#navigation {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#navigation a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: black;
	border: 2px solid $dark-grey;
	border-radius: $rounded-corners;
	width: 15rem;
	min-height: 2rem;
	margin: 0.4em;
}
#navigation .text {
	padding: 0.4em 0;
}
#navigation a.left-button {
	background: linear-gradient(to right, $light-beige 50%, $sharp-blue 50%);
	background-size: 200%;
	transition: .5s ease-out;
}
#navigation a.left-button:hover {
	background-position: right;
	transition: .5s ease-out;
}
#navigation a.centre:hover {
	background: $sharp-blue;
}
#navigation a.right-button {
	background: linear-gradient(to left, $light-beige 50%, $sharp-blue 50%) right;
	background-size: 200%;
	transition: .5s ease-out;
}
#navigation a.right-button:hover {
	background-position: left;
}

/* Links on  $light-grey */
a, 
a:visited {
	@include link;
}
a:hover,
a:active {
	@include link-focus;
}

/* Media Queries */
@media only screen and (max-width: 640px) {
	.left, .right {
	float: none;
	margin: 0 auto;
	}
	.pixel, .art, .boxart {
	max-width: 90%;
	}
}

/* COMPLETED */

/* Header */
.header {
	background: $dark-grey;
	text-align: center;
	margin-bottom: 1em;
}
.header_title {
	&,
	&:hover,
	&:active,
  &:visited {
	font: 3em 'Gill Sans', 'Gill Sans MT', sans-serif;
	font-style: italic;
	font-weight: 600;
	color: $lime-green;
	padding-bottom: 0.2em;
	display: inline-block;
	}
}
.header_menu {
	padding-bottom: 0.4em;
}
.header_link {
	&,
	&:visited {
	display: inline-block;
	font-size: 1.2rem;
	padding: 0.1em 0.6em;
	@include button;
	}
	&:hover,
	&:focus,
	&:active {
	@include button-focus;
	}
}

/* Game Items */
.game {
	&,
	&:visited {
	@include dark-box;
	display: inline-block;
	max-width: 320px;
	@include button;
	}
	&:hover,
  &:focus,
	&:active {
	@include button-focus;
	}
}
.game_img {
	width: 320px;
	max-width: 100%;
	height: 100%;
	image-rendering: pixelated;
	vertical-align: bottom;
}
.game_title {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.game_developers {
	text-align: left;
	font-size: 0.8em;
	margin-left: 0.2em;
}
.game_publication,
.game_release {
	margin-top: 0.2em;
	font-size: 0.8em;
	text-align: right;
}

/* Books */
.books {
	display: flex;
	clear: both;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}
.books_item {
	@include dark-box;
	justify-content: center;
	flex-direction: column;
	width: 16rem;
	height: 100%;
}
.books_title {
	font-size: 1.1em;
	font-weight: bold;
}
.books_volume {
	display: flex;
	flex-direction: row;
	margin-top: 0.5rem;
}
.books_cover {
	display: flex;
	flex-direction: column;
}
.books_img {
	vertical-align: top;
	max-width: 100%;
	max-height: 100%;
}
.books_markets {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: fit-content;
	margin-left: 0.8em;
}
.books_storetitle {
	display: flex;
	flex-direction: column;
	width: 8rem;
	height: 100%;
	justify-content: center;
	text-align: center;
	padding: 0.2em;
	color: $light-beige;
	font-size: 1.05em;
	border-bottom: .1rem solid;
	border-color: $light-beige;
}
.books_link {
	&,
	&:visited {
	display: flex;
	flex-direction: column;
	width: 8rem;
	height: 100%;
	justify-content: center;
	text-align: center;
	padding: 0.2em;
	@include button;
	}
	&:hover,
	&:focus,
	&:active {
	@include button-focus;
	}
}

/* Footer */
.footer {
	margin-top: 5em;
	padding: 2em 0;
	background: $dark-grey;
	text-align: center;
}
.footer_notice {
}
.footer_link {
	&,
	&:visited {
		@include link;
	}
	&:hover,
	&:focus,
	&:active {
	@include link-focus;
	}
}
.footer_search {
	margin-top: 0.8em;
	padding-bottom: 0.8em;
}
.footer_copyright {
	font-size: 1.2rem;
	padding: 0.1em 0.6em;
}