// General Classes
html {
  height: 100%;
  min-width: 100%; 
  background: $light-beige;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Avenir Next", system-ui, Verdana, sans-serif;
  line-height: 1.5;
}
::selection {
  background: $lime-green;
  color: white;
  text-shadow: none; 
}

// Media
img {
  vertical-align: top;
}
.gb img,
.pixel img {
  image-rendering: pixelated;
  vertical-align: bottom;
}
.gallery-container {
  display: flex;
  clear: both;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-container div {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  max-width: 48%;
}
figure,
video,
audio,
object {
  display: grid;
  clear: both;
  background-color: $light-grey;
  text-align: center;
  border-radius: $rounded-corners;
  margin: 0 auto;
  padding: 0.2em;
}
figure:not(.float) {
  margin-top: 3em;
  margin-bottom: 3em;
}
figure.gallery {
  margin-top: 1em;
  margin-bottom: 1em;
}
video,
audio {
  margin-top: 5em;
  margin-bottom: 5em;
}
video {
  width: 160px;
}
figcaption {
  padding-top: 0.4em;
}
figcaption p {
  margin-bottom: 0;
}
.art, .pixel {
  max-width: 70%;
}
.pixel img,
.art img,
.boxart img {
  width: 100%;
  height: 100%;
}
.float {
  min-width: 100pt;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
@media only screen and (min-width: 640px) {
  .float {
  max-width: 35%;
  max-height: 35%;
  }
}
.left {
  float: left;
  margin-left: 0;
  margin-right: 0.4em;
}
.right {
  float: right;
  margin-right: 0;
  margin-left: 0.4em;
}
.gb {
  max-width: 320px;
}
.gb img {
  width: 320px;
  max-width: 100%;
  height: 100%;
}
object {
  width: 100%;
  height: 500px;
  margin-top: 1em;
  margin-bottom: 1em;
}

// Media Queries
@media only screen and (max-width: 640px) {
  .left, .right {
  float: none;
  margin: 0 auto;
  }
  .pixel, .art, .boxart {
  max-width: 90%;
  }
}

// COMPLETED

// Header
.header {
  background: $dark-grey;
  text-align: center;
  margin-bottom: 1em;
}
.header_title {
  &,
  &:hover,
  &:active,
  &:visited {
    font: 3em 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-style: italic;
    font-weight: 600;
    color: $lime-green;
    padding-bottom: 0.2em;
    display: inline-block;
    text-decoration: none;
  }
}
.header_menu {
  padding-bottom: 0.4em;
}
.header_link {
  &,
  &:visited {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.1em 0.6em;
    @include button;
  }
  &:hover,
  &:focus,
  &:active {
    @include button-focus;
  }
}

// Main Page Game List
.list {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list_input {
  display: none;
}
.list_labelpublication,
.list_labelrelease {
  & {
    width: 15rem;
    @include radio;
  }
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    color: $sharp-blue;
  }
}
input#pub:checked ~ .list_labelpublication,
input#rel:checked ~ .list_labelrelease {
  background: $sharp-blue;
  color: black;
}
.list_span {
  margin: auto;
}
input#pub:checked ~ .list_release,
input#rel:checked ~ .list_publication {
  display: none;
}
input#pub:checked ~ .list_publication,
input#rel:checked ~ .list_release {
  display: block;
}
.list_publication,
.list_release {
  margin-top: 1em;
}
.list_year {
  font-size: 2em;
  font-weight: 100;
  clear: both;
  width: 100%;
  height: 2.6em;
  line-height: 2.7em;
  margin-bottom: 0.3em;
}

// Main Page Game Items
.game {
  &,
  &:visited {
    @include dark-box;
    display: inline-block;
    max-width: 320px;
    @include button;
  }
  &:hover,
  &:focus,
  &:active {
    @include button-focus;
  }
}
.game_img {
  width: 320px;
  max-width: 100%;
  height: 100%;
  image-rendering: pixelated;
  vertical-align: bottom;
}
.game_title {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.game_developers {
  text-align: left;
  font-size: 0.8em;
  margin-left: 0.2em;
}
.game_publication,
.game_release {
  margin-top: 0.2em;
  font-size: 0.8em;
  text-align: right;
}

// Articles & Pages Container
.article,
.page {
  margin: 0 auto;
  padding: 0 0.2rem 0;
  max-width: 72ch;
}

// Articles Footer
hr {
  border: 0;
  height: 2px;
  background-color: black;
  margin: 1.2em 0;
}

// Articles navigation
.navigation {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navigation_button {
  &,
  &:visited {
    @include navigation;
  }
  &:hover,
  &:focus,
  &:active {
    color: black;
    background: $sharp-blue;
  }
}

// Timeline Navigation
.timeline-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 3em;
}
.timeline-nav_element {
  & {
    @include timeline-nav-button;
  }
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background: $sharp-blue;
    color: $lime-green;
  }
}
.timeline-nav_selected {
  @include timeline-nav-button;
  background: $sharp-blue;
}
.timeline-nav_label {
  max-width: 3rem;
}
.timeline-nav_span {
  margin: auto;
}

// Timeline
.timeline_year {
  position: sticky;
  top: 0;
  font-family: "GB";
  font-size: 1.05rem;
  margin-bottom: 1rem;
  background: $light-beige;
  width: 4.2rem;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  z-index: 1;
  padding-top: 0;
  border-bottom: .12rem solid;
}
.timeline_month {
  position: sticky;
  top: 1.6rem;
  font-size: 0.75rem;
  width: 4.2rem;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  z-index: 0;
}
.timeline_month-section {
  margin-left: 4.2rem;
  margin-bottom: .75rem;
}
.timeline_release-list {
  display: block;
}
.timeline_figure {
  display: inline-block;
  vertical-align: top;
  margin: 0.2em;
  width: 10rem;
}
.timeline_p {
  font-size: 0.85rem;
  margin: auto;
}
.timeline_cover {
  max-width: 100%;
}
.timeline_figcaption {
  display: flex;
  padding-top: 0;
}
.timeline_fact-list {
  margin-top: 1em;
  padding: 0 0 0 0;
}
.timeline_reference {
  padding: 0 .3rem;
}

// Book Items
.books {
  display: flex;
  clear: both;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.books_item {
  @include dark-box;
  justify-content: center;
  flex-direction: column;
  width: 16rem;
  height: 100%;
}
.books_title {
  font-size: 1.1em;
  font-weight: bold;
}
.books_volume {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
.books_cover {
  display: flex;
  flex-direction: column;
}
.books_img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}
.books_markets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  margin-left: 0.8em;
}
.books_storetitle {
  font-size: 1.05em;
  color: $light-beige;
  border-color: $light-beige;
  border-bottom: .1rem solid;
}
.books_link {
  &,
  &:visited {
    @include store;
    @include button;
  }
  &:hover,
  &:focus,
  &:active {
    @include button-focus;
  }
}

// Footer
.footer {
  margin-top: 5em;
  padding: 2em 0;
  background: $dark-grey;
  text-align: center;
}
.footer_link {
  &,
  &:visited {
    @include link;
  }
  &:hover,
  &:focus,
  &:active {
    @include link-focus;
  }
}
.footer_search {
  margin-top: 0.8em;
  padding-bottom: 0.8em;
}
.footer_copyright {
  font-size: 1.2rem;
  padding: 0.1em 0.6em;
}