// General Classes
html {
  height: 100%;
  min-width: 100%;
  background: $light-beige;
  font-family: system-ui, "Avenir Next", "Oxygen", "Fira Sans", "Droid Sans", Verdana, sans-serif;
  line-height: 1.5;
}
::selection {
  background: $lime-green;
  color: white;
  text-shadow: none;
}

// Header
.header {
  display: flex;
  flex-direction: column;
  background: $dark-grey;
  text-align: center;
  margin-bottom: $spacing-website;
}
.header_title {
  &,
  &:visited {
    font: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: 600;
    color: $lime-green;
    padding-top: 0.4rem;
    margin-bottom: 0.2em;
    text-decoration: none;
  }
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    color: $sharp-blue;
  }
}
.header_menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.6rem;
}
.header_link {
  &,
  &:visited {
    @include header_menu-element;
    @include dark-button;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  &:hover,
  &:focus,
  &:active {
    @include dark-button_focus;
  }
}
.header_link-selected {
  @include header_menu-element;
  border-radius: $rounded-corners;
  background: $sharp-blue;
  cursor: default;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

// Main Page Game List
.list {
  @include button-container;
  flex-direction: column;
}
.list_input {
  display: none;
}
.list_labelpublication,
.list_labelrelease {
  &,
  &:visited {
    @include light-button;
    width: 15rem;
    list-style: none;
  }
  &:hover,
  &:focus,
  &:active {
    @include light-button-radio_focus;
  }
}
input#pub:checked ~ .list_labelpublication,
input#rel:checked ~ .list_labelrelease {
  background: $sharp-blue;
  color: black;
  cursor: default;
}
input#pub:checked ~ .list_release,
input#rel:checked ~ .list_publication {
  display: none;
}
input#pub:checked ~ .list_publication,
input#rel:checked ~ .list_release {
  display: block;
}
.list_publication,
.list_release {
  margin-top: $spacing-website;
}
.list_year {
  font-family: "gb";
  font-size: $font_large;
  font-weight: 100;
  clear: both;
  width: 100%;
  height: 2.6em;
  line-height: 2.7em;
  margin-bottom: 0.2em;
}

// Main Page Game Items
.game {
  &,
  &:visited {
    @include rounded-box;
    @include dark-grey-box;
    @include dark-button;
    display: inline-block;
    max-width: 320px;

  }
  &:hover,
  &:focus,
  &:active {
    @include dark-button_focus;
  }
}
.game_img {
  width: 320px;
  max-width: 100%;
  height: 100%;
  image-rendering: pixelated;
  vertical-align: bottom;
  margin-bottom: $spacing-game-box;
}
.game_title {
  margin-bottom: $spacing-game-box;
}
.game_developers {
  font-size: $font_small;
  text-align: left;
  margin-left: $spacing-game-box;
  margin-bottom: $spacing-game-box;
}
.game_publication,
.game_release {
  font-size: $font_small;
  text-align: right;
  margin-right: $spacing-game-box;
}

// Articles & Pages Container
.article,
.page {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  max-width: 72ch;
}

// Articles Footer
hr {
  border: 0;
  height: 2px;
  background-color: black;
  margin-bottom: $spacing-paragraph;
}

// Articles navigation
.navigation {
  @include button-container;
  flex-direction: row;
}
.navigation_button {
  &,
  &:visited {
    @include light-button;
    width: 15rem;
  }
  &:hover,
  &:focus,
  &:active {
    @include light-button-selector_focus;
  }
}

// Media
.figure,
video,
audio,
object {
  @include rounded-box;
  display: grid;
  clear: both;
  background-color: $light-grey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-paragraph;
}
video {
  width: 160px;
}
object {
  width: 100%;
  height: 500px;
}
.figure_gb {
  max-width: 320px;
}
.figure_gb img {
  width: 320px;
  height: 100%;
  vertical-align: top;
  image-rendering: pixelated;
}
.figure_pixel {
  max-width: 70%;
}
.figure_pixel img {
  image-rendering: pixelated;
  @include width-height;
}
.figure_art {
  max-width: 70%;
}
.figure_art img,
.figure_boxart img {
  @include width-height;
}
.figure_figcaption {
  padding-top: 0.4em;
  text-align: center;
}
.gallery {
  display: flex;
  clear: both;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: $spacing-paragraph;
}
.gallery_element {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  max-width: 48%;
}
.gallery .figure {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}
.gallery .figure_pixel {
  max-width: 100%;
}
.gallery .figure_art {
  max-width: 100%;
}
.float {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.float.figure_pixel {
  max-width: 35%;
}
.float.figure_art {
  max-width: 35%;
}
.left {
  float: left;
  margin-right: 0.5em;
}
.right {
  float: right;
  margin-left: 0.5em;
}

// Media Queries
@media only screen and (max-width: 640px) {
  .left, .right {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery_element,
  .float.figure_pixel,
  .figure_pixel,
  .float.figure_art,
  .figure_art,
  .float.figure_boxart,
  .figure_boxart,
  .float.figure_gb,
  .figure_gb {
    max-width: 90%;
    width: 90%;
  }
  .figure_gb img {
    width: 100%;
  }
}

// Timeline Navigation
.timeline-nav {
  @include button-container;
}
.timeline-nav_element,
.timeline-nav_selected {
  &,
  &:visited {
    @include light-button;
    width: 10.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.timeline-nav_element {
  &:hover,
  &:focus,
  &:active {
    @include light-button-selector_focus;
  }
}
.timeline-nav_selected {
  & {
    background: $sharp-blue;
  }
  &:hover,
  &:focus,
  &:active {
    cursor: default;
  }
}
.timeline-nav_label {
  max-width: 3rem;
  margin-right: 0.4em;
}

// Timeline
.timeline {
  margin-top: $spacing-website;
}
.timeline_year {
  position: sticky;
  top: 0;
  font-family: "GB";
  font-size: $font_paragraph;
  margin-bottom: 1rem;
  background: $light-beige;
  width: 4.2rem;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  z-index: 1;
  padding-top: 0;
  border-bottom: .12rem solid;
}
.timeline_month {
  position: sticky;
  top: 1.6rem;
  font-size: 0.75rem;
  width: 4.2rem;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  z-index: 0;
}
.timeline_month-section {
  margin-left: 4.2rem;
  margin-bottom: .75rem;
}
.timeline_release-list {
  display: block;
}
.timeline_figure {
  @include rounded-box;
  background-color: $light-grey;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  width: 10rem;
}
.timeline_cover {
  max-width: 100%;
}
.timeline_figcaption {
  font-size: 0.85rem;
  text-align: center;
}
.timeline_fact-list {
  margin-top: 0.5rem;
  padding-left: 0;
}
.timeline_reference {
  padding-left: 0.3rem;
}

// Book Items
.books {
  display: flex;
  clear: both;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.books_item {
  @include rounded-box;
  @include dark-grey-box;
  justify-content: center;
  flex-direction: column;
  width: 16rem;
  height: 100%;
}
.books_title {
  font-size: $font_medium;
  font-weight: bold;
}
.books_volume {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
.books_cover {
  display: flex;
  flex-direction: column;
}
.books_img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}
.books_markets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  margin-left: 0.8em;
}
.books_storetitle {
  color: $light-beige;
  border-color: $light-beige;
  border-bottom: .1rem solid;
}
.books_link {
  &,
  &:visited {
    @include store;
    @include dark-button;
  }
  &:hover,
  &:focus,
  &:active {
    @include dark-button_focus;
  }
}

// Footer
.footer {
  margin-top: $spacing-website;
  padding-top: 2em;
  padding-bottom: 2em;
  background: $dark-grey;
  text-align: center;
}
.footer_link {
  &,
  &:visited {
    @include link;
  }
  &:hover,
  &:focus,
  &:active {
    @include link-focus;
  }
}
.footer_search {
  margin-top: $spacing-website;
  margin-bottom: $spacing-website;
}
.footer_copyright {
  font-size: $font_medium;
}