@use "variables.scss" as *;

h1, h2 {
  font-weight: 100;
  clear: both;
}
h1 {
  font-size: $font_largest;
}
.article h1 {
  text-align: center;
}
h2 {
  font-size: $font_very-large;
}
/* Lists */
ul,
ol {
  padding-left: 2.5em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin-left: 1.2em;
  list-style-position: inside;
}
h3,
caption {
  font-size: $font_large;
  font-weight: bold;
}
p,
blockquote,
ul,
ol {
  margin-bottom: $spacing-paragraph;
  font-size: $font_paragraph;
}
a {
  &,
  &:visited {
  @include link;
  }
  &:hover,
  &:focus,
  &:active {
  @include link-focus;
  }
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote {
  padding-left: 0.5em;
  margin-bottom: $spacing-paragraph;
  margin-left: 1rem;
  margin-right: 1rem;
  border-left: 2px solid light-dark($black, $white);
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
sup {
  vertical-align: super;
  font-size: $font_tiny;
}
code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  word-break: break-all;
}

/* Tables */
table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: $spacing-paragraph;
  border-spacing: 0;
  border: 1px solid light-dark($black, $white);
}
th {
  background-color: light-dark($light-action-box, $dark-action-box);
}
th,
td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  vertical-align: middle;
  border: 1px solid light-dark($black, $white);
  width: 20%;
  overflow-wrap: anywhere;
  hyphens: auto;
}
tr:nth-child(even) {
  background-color: light-dark($light-info-box, $dark-info-box);
}