<div class="books">
  <div class="books_item">
    <h3 class="books_title">Volume 1 - Third Edition</h3>
    <div class="books_volume">
      <div class="books_cover">
        <img class="books_img" src="/assets/book/volume-01-cover.jpg" {% imagesize /assets/book/volume-01-cover.jpg:props?width=256 %} alt="Volume 1 Cover">
      </div>
      <div class="books_markets">
        <a class="books_link" href="https://www.lulu.com/shop/pierre-luc-gagné/game-boy-essentials-volume-1/paperback/product-qen442.html">Lulu Bookstore</a>
      </div>
    </div>
  </div>
  <div class="books_item">
    <h3 class="books_title">Volume 2 - Second Edition</h3>
    <div class="books_volume">
      <div class="books_cover">
        <img class="books_img" src="/assets/book/volume-02-cover.jpg" {% imagesize /assets/book/volume-02-cover.jpg:props?width=256 %} alt="Volume 2 Cover">
      </div>
      <div class="books_markets">
        <a class="books_link" href="https://www.lulu.com/shop/pierre-luc-gagné/game-boy-essentials-volume-2/paperback/product-qp6qw8.html">Lulu Bookstore</a>
      </div>
    </div>
  </div>
  <div class="books_item">
    <h3 class="books_title">Volume 3</h3>
    <div class="books_volume">
      <div class="books_cover">
        <img class="books_img" src="/assets/book/volume-03-cover.jpg" {% imagesize /assets/book/volume-03-cover.jpg:props?width=256 %} alt="Volume 3 Cover">
      </div>
      <div class="books_markets">
        <a class="books_link" href="https://www.lulu.com/shop/pierre-luc-gagné/game-boy-essentials-volume-3/paperback/product-rpm2ek.html">Lulu Bookstore</a>
      </div>
    </div>
  </div>
</div>