<div class="book-container">
	<div class="book">
		<h3>Volume 1</h3>
		<div class="volume">
			<div class="book-cover">
				<img src="/assets/book/volume-01-cover.jpg" alt="Volume 1 Cover">
			</div>
			<div class="markets">
				<a class="book-link" href="https://www.lulu.com/shop/pierre-luc-gagné/game-boy-essentials-volume-1/paperback/product-jpemqw.html?q=game+boy+essentials&page=1&pageSize=4">Buy on the Lulu bookstore</a>
			</div>
		</div>
	</div>
	<div class="book">
		<h3>Volume 2</h3>
		<div class="volume">
			<div class="book-cover">
				<img src="/assets/book/volume-02-cover.jpg" alt="Volume 2 Cover">
			</div>
			<div class="markets">
				<a class="book-link" href="https://www.lulu.com/shop/pierre-luc-gagné/game-boy-essentials-volume-2/paperback/product-qp6qw8.html?q=game+boy+essentials&page=1&pageSize=4">Lulu Bookstore</a>
				<a class="book-link" href="https://www.barnesandnoble.com/w/game-boy-essentials-volume-2-pierre-luc-gagn/1143014881?ean=9780995901575">Barnes and Noble (US only)</a>
				<div class="store">
					<h4>Buy on Amazon</h4>
					<a class="book-link" href="https://www.amazon.com/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901570">United States</a>
					<a class="book-link" href="https://www.amazon.ca/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901570">Canada</a>
					<a class="book-link" href="https://www.amazon.co.uk/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901570">United Kingdom</a>
					<a class="book-link" href="https://www.amazon.fr/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901570">France</a>
					<a class="book-link" href="https://www.amazon.de/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901570">Deustchland</a>
				</div>
			</div>
		</div>
	</div>
	<div class="book">
		<h3>Volume 3</h3>
		<div class="volume">
			<div class="book-cover">
				<img src="/assets/book/volume-03-cover.jpg" alt="Volume 3 Cover">
			</div>
			<div class="markets">
				<a class="book-link" href="https://www.lulu.com/shop/pierre-luc-gagné/game-boy-essentials-volume-3/paperback/product-rpm2ek.html?q=game+boy+essentials&page=1&pageSize=4">Lulu Bookstore</a>
				<a class="book-link" href="https://www.barnesandnoble.com/w/game-boy-essentials-volume-3-pierre-luc-gagn/1143014880?ean=9780995901582">Barnes and Noble (US only)</a>
				<div class="store">
					<h4>Buy on Amazon</h4>
					<a class="book-link" href="https://www.amazon.com/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901589">United States</a>
					<a class="book-link" href="https://www.amazon.ca/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901589">Canada</a>
					<a class="book-link" href="https://www.amazon.co.uk/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901589">United Kingdom</a>
					<a class="book-link" href="https://www.amazon.fr/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901589">France</a>
					<a class="book-link" href="https://www.amazon.de/Game-Boy-Essentials-Pierre-Luc-Gagn%C3%A9/dp/0995901589">Deustchland</a>
				</div>
			</div>
		</div>
	</div>
</div>

Goodreads: https://www.goodreads.com/author/show/16559473.Pierre_Luc_Gagn_