{%- assign details = site.data.static-files[include.type] -%}
{%- if include.class == "gallery" -%}<div class="gallery_element">{%- else -%}{%- endif -%}<figure class="figure figure_{{ details.name }}{% if include.class %} {{ include.class }}{% else %}{% endif %}">
{%- capture image-variable -%}
assets/{{ page.slug }}/{{ page.slug }}-{%- assign order = order | plus: 1 -%}{{ order }}.{{ details.extension }}
{%- endcapture -%}
<img class="figure_img" src="{{ image-variable }}" {% imagesize {{ image-variable }}:props %} alt="{%- if include.figcaption -%}{{ include.figcaption }}{%- else -%}{{ details.alt }}{%- endif -%}">{%- if include.figcaption -%}<figcaption class="figure_figcaption">{{ include.figcaption | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</figcaption>
{%- else -%}
{%- endif -%}</figure>{%- if include.class == "gallery" -%}</div>{%- else -%}{%- endif -%}