{%- assign details = site.data.static-files[include.type] -%}
{%- capture variable -%}/assets/{{ page.slug }}/{{ page.slug }}-{%- assign order = order | plus: 1 -%}{{ order }}.{{ details.extension }}{%- endcapture -%}
{%- if include.class == 'gallery' -%}<div class="gallery_element">{%- else -%}{%- endif -%}
<figure class="figure figure_{{ details.name }}{% if include.class %} {{ include.class }}{% else %}{% endif %}"><img class="figure_img" src="{{ variable }}" {% imagesize variable:props %} alt="{{ details.alt }}">
{%- if include.figcaption -%}<figcaption class="figure_figcaption">{{ include.figcaption | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</figcaption>
{%- else -%}
{%- endif -%}
</figure>
{%- if include.class == 'gallery' -%}</div>
{%- else -%}
{%- endif -%}