{%- assign details = site.data.static-files[include.type] -%}
{%- if include.filename -%}
{%- capture variable -%}/assets/{{ page.slug }}/{{ include.filename }}.{{ details.extension }}{%- endcapture -%}
{%- else -%}
{%- capture variable -%}/assets/{{ page.slug }}/{{ page.slug }}-{%- assign order = order | plus: 1 -%}{{ order }}.{{ details.extension }}{%- endcapture -%}
{%- endif -%}
<{{ details.wrapper }} {{ details.data-location }}="{{ variable }}" loading="lazy" type="{{ details.type }}" {{ details.controllers }}></{{ details.wrapper }}>