Feel free to contact me with any addition at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.

<nav id="timeline-nav">
  <a class="timeline-nav-element" href="/timeline">
    <img alt="World" class="labels" src="/assets/timeline/world.svg"/>
    <span>World</span>
  </a>
  <a class="timeline-nav-element" href="/timeline/jp">
    <img alt="Japan" class="labels" src="/assets/timeline/jpn.svg"/>
    <span>Japan</span>
  </a>
  <a class="timeline-nav-element" href="/timeline/na">
    <img alt="North America" class="labels" src="/assets/timeline/na.svg"/>
    <span>North America</span>
  </a>
  <a class="timeline-nav-element" href="/timeline/eu">
    <img alt="Japan" class="labels" src="/assets/timeline/eur.svg"/>
    <span>Europe</span>
  </a>
</nav>
<div id="timeline">
{% if page.region contains 'JP' %}
  {% assign timeline_sorted = site.data.timeline-releases-only | where: "market", "JP" | sort: "release_date" %}
  {% assign facts_sorted = site.data.timeline | where: "tags", "JP" | sort: "time" %}
{% endif %}
{% if page.region contains 'NA' %}
  {% assign timeline_sorted = site.data.timeline-releases-only | where: "market", "NA" | sort: "release_date" %}
  {% assign facts_sorted = site.data.timeline | where: "tags", "NA" | sort: "time" %}
{% endif %}
{% if page.region contains 'EU' %}
  {% assign timeline_sorted = site.data.timeline-releases-only | where: "market", "EU" | sort: "release_date" %}
  {% assign facts_sorted = site.data.timeline | where: "tags", "EU" | sort: "time" %}
{% endif %}
{% if page.region == null %}
  {%- assign timeline_sorted = site.data.timeline-releases-only | sort: "release_date" -%}
  {% assign facts_sorted = site.data.timeline | sort: "time" %}
{% endif %}
{% assign year_stepper = 1980 %}
{% assign range = (year_stepper..2004) %}
{% assign month_stepper = 1 %}
{% assign year_writer = false %}
{% assign month_writer = false %}
{% for i in range %}
  for i in month_range
  et la je step 12 fois et une fois pou chaque année
   
  {% for release in timeline_sorted %}
    {% unless release.unclear_year == true %}
      {% assign year_integer = release.release_date | date: "%Y" %}
      {% assign year_integer = year_integer | plus: 0 %}
      {% if month_stepper == 13 %}
        </section>
        {% assign year_writer = false %}
        {% assign year_stepper = year_stepper | plus: 1 %}
        {% assign month_stepper = 1 %}
        {% break %}
      {% endif %}
      {% if year_stepper == year_integer %}
        {% if year_writer == false %}
          <section class="year">
          <h2>{{ year_stepper }}</h2>
          {% assign year_writer = true %}
        {% endif %}
        {% assign month_integer = release.release_date | date: "%B" %}
        {% assign month_integer = month_integer | plus: 0 %}
        {% if month_stepper > month_integer %}
          </div>
          </section>
          </div>
          {% assign month_writer = false %}
          {% assign month_stepper = month_stepper | plus: 1 %}
          {% break %}
        {% endif %}
        {% if month_stepper == month_integer %}
          {% assign release_month = release.release_date | date: "%B" %}
          {% assign release_year = release.release_date | date: "%Y" %}
          {% if month_writer == false %}
            <div class="month-separator">
            <h3>{{ release_month }}</h3>
            <section class="month">
		        <div class="release_list">
            {% assign month_writer = true %}
          {% endif %}
          {% capture image-location %}/assets/timeline{{ release.boxart }}{% endcapture %}
          <figure class="timeline">
          <img loading="lazy" src="{{ image-location }}" alt="{{ release.title }}">
          <figcaption><p>{{ release.title }}</p></figcaption>
          </figure>
        {% endif %}
      {% endif %}
    {% endunless %}
  {% endfor %}
  {% for fact in facts_sorted %}
  
{% endfor %}
</div>
{% comment %}   
  {% if page.region contains 'JP' %}
    {% assign timeline_sorted = site.data.timeline-releases-only | where: "market", "JP" | sort: "release_date" %}
    {% assign facts_sorted = site.data.timeline | where: "tags", "JP" | sort: "time" %}
  {% endif %}
  {% if page.region contains 'NA' %}
    {% assign timeline_sorted = site.data.timeline-releases-only | where: "market", "NA" | sort: "release_date" %}
    {% assign facts_sorted = site.data.timeline | where: "tags", "NA" | sort: "time" %}
  {% endif %}
  {% if page.region contains 'EU' %}
    {% assign timeline_sorted = site.data.timeline-releases-only | where: "market", "EU" | sort: "release_date" %}
    {% assign facts_sorted = site.data.timeline | where: "tags", "EU" | sort: "time" %}
  {% endif %}
  {% if page.region == null %}
    {%- assign timeline_sorted = site.data.timeline-releases-only | sort: "release_date" -%}
    {% assign facts_sorted = site.data.timeline | sort: "time" %}
  {% endif %}
  {% assign variable_year = 0 %}
  {% assign variable_month = 0 %}
  {% for release in timeline_sorted %}
    {% assign year_check = release.release_date | date: "%Y" %}
    {% assign year_check = year_check | plus: 0 %}
    {% unless year_check > 2003 %}
    {% unless release.unclear_year == true %}
      {% assign release_year = release.release_date | date: "%Y" %}
      {% assign release_month = release.release_date | date: "%B" %}
        {% if variable_year == 0 -%}
          <section class="year">
            <h2>{{ release.release_date | date: "%Y" }}</h2>
          {% assign variable_year = release_year %}
	      {% endif %}
	      {% if variable_year != release_year %}
		        </div>
          </section>
          </div>
		      </section>
		      <section class="year">
            <h2>{{ release_year }}</h2>
		      {% assign variable_year = release_year %}
		      {% assign variable_month = 0 %}
	      {% endif %}
        {% if variable_month == 0 %}
		      <div class="month-separator"><h3>{{ release.release_date | date: "%B" }}</h3>
          <section class="month">
		        <div class="release_list">
              {% assign variable_month = release_month %}
        {% endif %}
        {% if variable_month != release_month %}
            </div>
            <div class="facts_list">
              {% for fact in facts_sorted %}
                {% assign fact_year = fact.time | date: "%Y" %}
                {% assign fact_month = fact.time | date: "%B" %}
                {% if fact_year == release_year %}
                  {% if fact_month == release_month %}
                    {{ fact.note }}
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </section>
          </div>
          <div class="month-separator"><h3>{{ release.release_date | date: "%B" }}</h3>
          <section class="month">
            <div class="release_list">
            {% assign variable_month = release_month %}
        {% endif %}
        {% capture image-location %}
/assets/timeline{{ release.boxart }}
        {% endcapture %}
        <figure class="timeline">
        <img loading="lazy" src="{{ image-location }}" alt="{{ release.title }}">
        <figcaption><p>{{ release.title }}</p></figcaption>
        </figure>
    {% endunless %}
    {% endunless %}
  {% endfor %}
    </div>
  </section> 
{% endcomment %}