<div class="timeline">

{% comment %} Remove release dates without specific months {% endcomment %}
{% assign timeline_stripped = site.data.timeline-releases-only | where: "unknown_release_month", nil %}

{% if page.region contains 'JP' %}
  {% assign timeline_sorted = timeline_stripped | where: "market", "JP" | sort: "release_date" %}
  {% assign facts_sorted = site.data.timeline | where: "tags", "jp" | sort: "date" %}
{% endif %}
{% if page.region contains 'NA' %}
  {% assign timeline_sorted = timeline_stripped | where: "market", "NA" | sort: "release_date" %}
  {% assign facts_sorted = site.data.timeline | where: "tags", "na" | sort: "date" %}
{% endif %}
{% if page.region contains 'EU' %}
  {% assign timeline_sorted = timeline_stripped | where: "market", "EU" | sort: "release_date" %}
  {% assign facts_sorted = site.data.timeline | where: "tags", "eu" | sort: "date" %}
{% endif %}

{% assign release_html_written = false %}
{% assign release_present = false %}

{% assign fact_html_written = false %}
{% assign fact_present = false %}

{% comment %} Step through year {% endcomment %}
{% assign year_steps = (1980..2003) %}
{% for year_stepper in year_steps %}
  {% assign year_written = false %}

  {% comment %} Step through months {% endcomment %}
  {% assign month_steps = (1..12) %}
  {% for month_stepper in month_steps %}
    {% assign month_written = false %}

    {% comment %} Step through all releases {% endcomment %}
    {% for release in timeline_sorted %}
      {% assign release_present = false %}
      {% assign year_integer = release.release_date | date: "%Y" %}
      {% assign year_integer = year_integer | plus: 0 %}

      {% comment %} Stop if the year is larger than the position of the stepper {% endcomment %}
      {% if year_integer > year_stepper %}
        {% break %}
        {% else %}

        {% comment %} Start parsing if the year is correct {% endcomment %}
        {% if year_stepper == year_integer %}

          {% comment %} Open year HTML tags {% endcomment %}
          {% if year_written == false %}
            <section class="timeline_year-section">
            <h2 class="timeline_year">{{ year_stepper }}</h2>
            {% assign year_written = true %}
          {% endif %}

          {% assign month_integer = release.release_date | date: "%-m" %}
          {% assign month_integer = month_integer | plus: 0 %}

          {% comment %} Stop if month is larger than stepper position {% endcomment %}
          {% if month_integer > month_stepper %}
            {% break %}
            {% else %}

            {% comment %} Start parsing if month is correct {% endcomment %}
            {% if month_stepper == month_integer %}

              {% comment %} Open month HTML tags {% endcomment %}
              {% if month_written == false %}
                {% assign release_month = release.release_date | date: "%B" %}
                <div class="timeline_month-separator">
                <h3 class="timeline_month">{{ release_month }}</h3>
                <section class="timeline_month-section">
                {% assign month_written = true %}
              {% endif %}

              {% comment %} Open release HTML tags {% endcomment %}
              {% if release_html_written == false %}
                <div class="timeline_release-list">
                {% assign release_html_written = true %}
              {% endif %}

              {% comment %} Write matched release details {% endcomment %}
              {% capture image-location %}/assets/timelines{{ release.boxart }}{% endcapture %}
              <figure class="timeline_figure">
              <img loading="lazy" class="timeline_cover" src="{{ image-location }}" alt="{{ release.title }}">
              <figcaption class="timeline_figcaption">{{ release.title }}</figcaption>
              </figure>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% comment %} Close release HTML tag {% endcomment %}
    {% if release_html_written == true %}
      </div>
    {% endif %}

    {% comment %} Step through all facts {% endcomment %}
    {% for fact in facts_sorted %}
      {% assign year_integer = fact.date | date: "%Y" %}
      {% assign year_integer = year_integer | plus: 0 %}

      {% comment %} Stop if the year is larger than the position of the stepper {% endcomment %}
      {% if year_integer > year_stepper %}{% break %}{% endif %}

      {% comment %} Start parsing if the year is correct {% endcomment %}
      {% if year_stepper == year_integer %}

        {% comment %} Open year HTML tags if they are not present {% endcomment %}
        {% if year_written == false %}
          <section class="timeline_year-section">
          <h2 class="timeline_year">{{ year_stepper }}</h2>
          {% assign year_written = true %}
        {% endif %}

        {% assign month_integer = fact.date | date: "%-m" %}
        {% assign month_integer = month_integer | plus: 0 %}

        {% comment %} Stop if month is larger than stepper position {% endcomment %}
        {% if month_integer > month_stepper %}{% break %}{% endif %}

        {% comment %} Start parsing if the month is correct {% endcomment %}
        {% if month_stepper == month_integer %}

          {% comment %} Open month HTML tags if they are not present {% endcomment %}
          {% if month_written == false %}
            {% assign release_month = fact.date | date: "%B" %}
            <div class="timeline_month-separator">
            <h3 class="timeline_month">{{ release_month }}</h3>
            <section class="timeline_month-section">
            {% assign month_written = true %}
          {% endif %}

          {% comment %} Open fact HTML tags if they are not present {% endcomment %}
          {% if fact_html_written == false %}
            <ul class="timeline_fact-list">
            {% assign fact_html_written = true %}
          {% endif %}

          {% comment %} Write matched fact details {% endcomment %}
          <li class="timeline_fact">
          {{ fact.note | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}
          <a class="timeline_reference" href="{{ fact.source }}">※</a>
          </li>

        {% endif %}
      {% endif %}
    {% endfor %}

    {% comment %} Close fact HTML tag {% endcomment %}
    {% if fact_html_written == true %}
      </ul>
    {% endif %}

    {% comment %} Close HTML tag for month {% endcomment %}
    {% if month_written == true %}
      </section>
      </div>
      {% assign month_written = false %}
      {% assign release_html_written = false %}
      {% assign fact_html_written = false %}
    {% endif %}

  {% endfor %}

  {% comment %} Close HTML tag for year {% endcomment %}
  {% if year_written == true %}
    </section>
    {% assign year_written = false %}
  {% endif %}

{% endfor %}
</div>