# Site Settings
title: "Game Boy Essentials"
domain: "gameboyessentials.com"
url: "https://gameboyessentials.com"
email: "pl@gameboyessentials.com"
description: "A project to review and talk about the essential games you should play on Game Boy to understand its appeal and its success."
keep_files: [_redirects]
incremental: false
collections_dir: collections
exclude: [/drafts, /_tags, /_site-local, /_folio/test-suite.md, /assets/0test]

## Use of Collections for underscored folders
collections:
  articles:
    output: true
    permalink: /articles/:title
  folio:
    output: true
    permalink: /:slug
  tags:
    output: true
    permalink: tag/:title

defaults:
  -
    scope:
      path: ""
      type: articles
    values:
      layout: article
      article: true
  -
    scope:
      path: "drafts"
    values:
      layout: article
      article: true
  -
    scope:
      path: ""
      type: tags
    values:
      layout: tags
  -
    scope:
      path: ""
      type: timelines
    values:
      layout: timeline

## SASS
sass:
  sass_dir: _scss
  sourcemap: development
  style: compressed

## Markdown
markdown: kramdown
kramdown:
  entity_output: :symbolic

## Plugins
plugins:
  - jekyll-image-size
  - jekyll-last-modified-at