:root {
	--light-beige: #e9e9e9;
	--lime-green: #94ba65;
	--sharp-blue: #2790b0;
	--dark-grey: #4e4d4a;
	--light-grey: #c1c1c1;
	--usa-can-white: #fff;
	--jpn-red: #bc002d;
	--eur-blue: #039;
	--rounded-corners: 0.25em;
}
#timeline-nav {
	display: flex;
	justify-content: flex-end;
}
a.timeline-nav-element {
	width: 15rem;
	padding: 0.5em;
	display: flex;
	margin: 0.2em auto;
	border: 2px solid var(--dark-grey);
	border-radius: var(--rounded-corners);
}
a.timeline-nav-element img {
	max-width: 3rem;
}
#timeline h2 {
	position: sticky;
	top: 0;
	font-family: "GB";
	font-size: 1.05rem;
	margin-bottom: 1rem;
	background: var(--light-beige);
	width: 4.2rem;
	display: flex;
	justify-content: flex-end;
	white-space: nowrap;
	z-index: 1;
	padding-top: 0;
	border-bottom: .12rem solid;
}
#timeline h3 {
	position: sticky;
	top: 1.6rem;
	font-size: 0.75rem;
	width: 4.2rem;
	display: flex;
	justify-content: flex-end;
	white-space: nowrap;
	z-index: 0;
}
section.month {
	margin-left: 4.2rem;
	margin-bottom: .75rem;
}
.release_list {
	display: block;
}
figure.timeline {
	display: inline-block;
	vertical-align: top;
	margin: 0.2em;
	width: 10rem;
}
figure.timeline img,
figure.timeline figcaption {
	max-width: 100%;
}
figure.timeline p {
	font-size: 0.85rem;
}
/*
#timeline a.ref {
	padding: 0 .3rem;
}
#timeline img.labels {
	max-height: 1.5rem;
	width: 2rem;
} 
#timeline p {
	border-left: .2rem solid;
	padding-left: 1rem;
} 
*/
#timeline p.jp {
	border-color: var(--jpn-red);
}
#timeline p.na {
	border-color: var(--usa-can-white);
}
#timeline p.eu {
	border-color: var(--eur-blue);
}